workflow-templates/test-workflows/test-anthropic.json
{
  "updatedAt": "2026-01-16T07:42:16.941Z",
  "createdAt": "2026-01-16T06:02:36.879Z",
  "id": "12ZdJgQavG3av2Zg",
  "name": "Test: Anthropic Connection",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "test-anthropic",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        192,
        304
      ],
      "webhookId": "wh-jyem8e"
    },
    {
      "parameters": {
        "path": "test-anthropic",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "webhookId": "wh-anthropic-test"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-3-5-sonnet-20240620\",\n  \"max_tokens\": 100,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Hello, n8n test!\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "anthropic-http-request",
      "name": "Anthropic API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        448,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uuWu8FGTTO9VX3Bn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ Anthropic connection tested via HTTP Request\",\n    response: $input.all()[0].json\n  }\n}];"
      },
      "id": "format-result",
      "name": "Format Test Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger-mxxch",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        112
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Anthropic API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API Request": {
      "main": [
        [
          {
            "node": "Format Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Anthropic API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4dff390a-a430-4227-a6c8-2b40eed5218f",
  "activeVersionId": "76f47a56-1343-4b57-b0ea-d89aca1b52c6",
  "versionCounter": 20,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-16T06:02:36.883Z",
      "createdAt": "2026-01-16T06:02:36.883Z",
      "role": "workflow:owner",
      "workflowId": "12ZdJgQavG3av2Zg",
      "projectId": "tsTbJZGUE5kG3iLn",
      "project": {
        "updatedAt": "2026-01-16T01:43:55.287Z",
        "createdAt": "2025-09-25T16:21:12.451Z",
        "id": "tsTbJZGUE5kG3iLn",
        "name": "Wen Jyue Lew <wenjyue@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T16:21:12.452Z",
            "createdAt": "2025-09-25T16:21:12.452Z",
            "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
            "projectId": "tsTbJZGUE5kG3iLn",
            "user": {
              "updatedAt": "2026-01-16T05:25:41Z",
              "createdAt": "2025-09-25T16:21:11.915Z",
              "id": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
              "email": "wenjyue@gmail.com",
              "firstName": "Wen Jyue",
              "lastName": "Lew",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-25T16:22:49.004Z",
                "personalization_survey_n8n_version": "1.112.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Z5672DIWhrcHlLgj",
                "userActivatedAt": 1758819204165,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1768539858694
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-16T07:15:55.158Z",
      "createdAt": "2026-01-16T07:15:55.158Z",
      "id": "XMXs88S6cJ6Hiyjq",
      "name": "Test"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T07:14:03.403Z",
    "createdAt": "2026-01-16T07:14:03.403Z",
    "versionId": "76f47a56-1343-4b57-b0ea-d89aca1b52c6",
    "workflowId": "12ZdJgQavG3av2Zg",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-anthropic",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          180,
          300
        ],
        "webhookId": "wh-jyem8e"
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-anthropic",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          220,
          300
        ],
        "webhookId": "wh-anthropic-test"
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "claude-3-opus-20240229"
              },
              {
                "name": "max_tokens",
                "value": "100"
              },
              {
                "name": "messages",
                "value": "=[{\"role\": \"user\", \"content\": \"Hello, n8n test!\"}]"
              }
            ]
          },
          "options": {}
        },
        "id": "anthropic-http-request",
        "name": "Anthropic API Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          440,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "ANTHROPIC_CREDENTIAL_ID",
            "name": "Anthropic API Key"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ Anthropic connection tested via HTTP Request\",\n    response: $input.all()[0].json\n  }\n}];"
        },
        "id": "format-result",
        "name": "Format Test Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {},
        "id": "manual-trigger-mxxch",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          180,
          100
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Anthropic API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic API Request": {
        "main": [
          [
            {
              "node": "Format Test Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Anthropic API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wen Jyue Lew",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T07:14:03.44Z",
        "id": 27,
        "workflowId": "12ZdJgQavG3av2Zg",
        "versionId": "76f47a56-1343-4b57-b0ea-d89aca1b52c6",
        "event": "activated",
        "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac"
      }
    ]
  }
}
