workflow-templates/test-workflows/test-telegram.json
{
  "updatedAt": "2026-01-16T07:42:10.254Z",
  "createdAt": "2026-01-16T06:16:44.975Z",
  "id": "DLHBB6obir28Qnzz",
  "name": "TEST: Telegram",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-telegram",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "webhookId": "wh-nzwdgj"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-telegram",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "webhookId": "wh-telegram-test"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "✅ n8n Telegram Test: {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "MlNOfUkdkBwmOMVH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ Telegram message sent.\",\n    details: $input.all()\n  }\n}];"
      },
      "id": "format-result",
      "name": "Format Test Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger-dgiku",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Format Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fe3dadda-be2b-4b66-a802-7e3c9f6ff967",
  "activeVersionId": "fe3dadda-be2b-4b66-a802-7e3c9f6ff967",
  "versionCounter": 14,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-16T06:16:44.976Z",
      "createdAt": "2026-01-16T06:16:44.976Z",
      "role": "workflow:owner",
      "workflowId": "DLHBB6obir28Qnzz",
      "projectId": "tsTbJZGUE5kG3iLn",
      "project": {
        "updatedAt": "2026-01-16T01:43:55.287Z",
        "createdAt": "2025-09-25T16:21:12.451Z",
        "id": "tsTbJZGUE5kG3iLn",
        "name": "Wen Jyue Lew <wenjyue@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T16:21:12.452Z",
            "createdAt": "2025-09-25T16:21:12.452Z",
            "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
            "projectId": "tsTbJZGUE5kG3iLn",
            "user": {
              "updatedAt": "2026-01-16T05:25:41Z",
              "createdAt": "2025-09-25T16:21:11.915Z",
              "id": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
              "email": "wenjyue@gmail.com",
              "firstName": "Wen Jyue",
              "lastName": "Lew",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-25T16:22:49.004Z",
                "personalization_survey_n8n_version": "1.112.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Z5672DIWhrcHlLgj",
                "userActivatedAt": 1758819204165,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1768539858694
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-16T07:15:55.158Z",
      "createdAt": "2026-01-16T07:15:55.158Z",
      "id": "XMXs88S6cJ6Hiyjq",
      "name": "Test"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T07:14:04.038Z",
    "createdAt": "2026-01-16T07:14:04.038Z",
    "versionId": "fe3dadda-be2b-4b66-a802-7e3c9f6ff967",
    "workflowId": "DLHBB6obir28Qnzz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-telegram",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          180,
          300
        ],
        "webhookId": "wh-nzwdgj"
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-telegram",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          220,
          300
        ],
        "webhookId": "wh-telegram-test"
      },
      {
        "parameters": {
          "resource": "chat",
          "operation": "sendMessage",
          "chatId": "YOUR_CHAT_ID",
          "text": "✅ n8n Telegram Test: {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
          "additionalFields": {}
        },
        "id": "send-telegram",
        "name": "Send Telegram Message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.1,
        "position": [
          440,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "MlNOfUkdkBwmOMVH",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ Telegram message sent.\",\n    details: $input.all()\n  }\n}];"
        },
        "id": "format-result",
        "name": "Format Test Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {},
        "id": "manual-trigger-dgiku",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          180,
          100
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Send Telegram Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram Message": {
        "main": [
          [
            {
              "node": "Format Test Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Send Telegram Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wen Jyue Lew",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T07:14:04.073Z",
        "id": 34,
        "workflowId": "DLHBB6obir28Qnzz",
        "versionId": "fe3dadda-be2b-4b66-a802-7e3c9f6ff967",
        "event": "activated",
        "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac"
      }
    ]
  }
}
