workflow-templates/test-workflows/test-openai.json
{
  "updatedAt": "2026-01-16T07:42:08.727Z",
  "createdAt": "2026-01-16T07:21:47.682Z",
  "id": "Lp29ggHNxZ8wuMkS",
  "name": "Test: OpenAI Connection",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-openai",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "webhookId": "wh-openai-test"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "Hello! Please reply with 'OpenAI Connection Successful'."
            }
          ]
        },
        "options": {}
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ OpenAI test executed.\",\n    response: $input.all()[0].json\n  }\n}];"
      },
      "id": "format-result",
      "name": "Format Test Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Format Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "bb0d1687-1cdd-4ce5-8730-2f39f5572461",
  "activeVersionId": "bb0d1687-1cdd-4ce5-8730-2f39f5572461",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-16T07:21:47.684Z",
      "createdAt": "2026-01-16T07:21:47.684Z",
      "role": "workflow:owner",
      "workflowId": "Lp29ggHNxZ8wuMkS",
      "projectId": "tsTbJZGUE5kG3iLn",
      "project": {
        "updatedAt": "2026-01-16T01:43:55.287Z",
        "createdAt": "2025-09-25T16:21:12.451Z",
        "id": "tsTbJZGUE5kG3iLn",
        "name": "Wen Jyue Lew <wenjyue@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T16:21:12.452Z",
            "createdAt": "2025-09-25T16:21:12.452Z",
            "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
            "projectId": "tsTbJZGUE5kG3iLn",
            "user": {
              "updatedAt": "2026-01-16T05:25:41Z",
              "createdAt": "2025-09-25T16:21:11.915Z",
              "id": "08a66384-5a78-4bcf-a1d9-974f059b7aac",
              "email": "wenjyue@gmail.com",
              "firstName": "Wen Jyue",
              "lastName": "Lew",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-25T16:22:49.004Z",
                "personalization_survey_n8n_version": "1.112.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Z5672DIWhrcHlLgj",
                "userActivatedAt": 1758819204165,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1768539858694
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-16T07:21:47.687Z",
    "createdAt": "2026-01-16T07:21:47.687Z",
    "versionId": "bb0d1687-1cdd-4ce5-8730-2f39f5572461",
    "workflowId": "Lp29ggHNxZ8wuMkS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-openai",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          220,
          300
        ],
        "webhookId": "wh-openai-test"
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "prompt": {
            "messages": [
              {
                "role": "user",
                "content": "Hello! Please reply with 'OpenAI Connection Successful'."
              }
            ]
          },
          "options": {}
        },
        "id": "openai-node",
        "name": "OpenAI",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [
          440,
          300
        ],
        "credentials": {
          "openAiApi": {
            "id": "OPENAI_CREDENTIAL_ID",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    success: true,\n    message: \"✅ OpenAI test executed.\",\n    response: $input.all()[0].json\n  }\n}];"
        },
        "id": "format-result",
        "name": "Format Test Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {},
        "id": "manual-trigger",
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          220,
          100
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Format Test Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wen Jyue Lew",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T07:21:47.718Z",
        "id": 36,
        "workflowId": "Lp29ggHNxZ8wuMkS",
        "versionId": "bb0d1687-1cdd-4ce5-8730-2f39f5572461",
        "event": "activated",
        "userId": "08a66384-5a78-4bcf-a1d9-974f059b7aac"
      }
    ]
  }
}
